PHP_VERSION=8.4
GITHUB_ACCESS_TOKEN=

SELENIUM_CONTAINER_NAME=InfoTek-selenium
CHROME_CONTAINER_NAME=InfoTek-chrome
MYSQL_CONTAINER_NAME=InfoTek-mysql

TEST_URL=https://stellantis.autocrm.ru

DB_USER=test_user
DB_PASSWORD=test123test
DB_ROOT_PASSWORD=root
DB_NAME=test_db
DB_DSN=mysql:host=mysql;port=3306;dbname=test_db
DB_DUMP=Tests/Support/Data/Database/Dump.sql